<li class="side-header">Links</li>
<li><a href="/">Home </a></li>
<li><a href="http://eepurl.com/5Qvcv" target="_blank">SOGOTP Pre-order</a></li>
<!--<li><a href="http://schematical.gitbooks.io/shiporgetoffthepot/" target="_blank">Buy SOGOTP Innovation</a></li>-->

<!--<li><a href="/about">About me</a></li>
<li><a href="/rss">RSS</a></li>-->


<li class="side-header">Follow Me</li>
<li><a href="https://twitter.com/mleaconsulting" target="_blank">Twitter</a></li>
<li><a href="https://github.com/schematical" target="_blank">Github</a></li>
<li><a href="https://facebook.com/mattleaconsulting" target="_blank">Facebook</a></li>

